@font-face {
    font-family: 'Bebas Neue Cyrillic';
    src: local('Bebas Neue Cyrillic'), local('BebasNeueCyrillic'),
        url('../fonts/BebasNeueCyrillic.woff2') format('woff2'),
        url('../fonts/BebasNeueCyrillic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

.body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596F5;
}

.navbar {
    max-width: 1280PX;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
}

.navbar-item {
    margin-left: 40px;
    margin-right: 40px;
}

.navbar-link {
    text-decoration: none;
    color: #fff;
}

.navbar-contacts {
    text-align: right;
}

.navbar-text {
    display: block;
    color: white;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
}

.navbar-phone {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
}

.main {
    max-width: 1280PX;
    margin: auto;
    padding-top: 54px;
    display: flex;
    margin-bottom: 100px;
}

.main-info {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home-image path { 
    opacity: 0;
    cursor: pointer;
}

path.current-floor {
    opacity: 1;
}

.home-image path:hover {
    opacity: 1;
}

.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-button {
    cursor: pointer;
    background-color: #fff;
    border: none;  
}

.main-title {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue Cyrillic', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 44px;
    color: #635854;
}


.counter {
    font-family: 'Bebas Neue Cyrillic', sans-serif;
    color: #635854;
    font-size: 115px;
    font-style: normal;
    font-weight: normal;
    margin-top: 10px;
}

.modal-counter {
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.button-primary {
    background: #3596F5;
    border-radius: 6px;
    color: #fff;
    border: none;
    padding: 16px 36px;
    cursor: pointer;
}

.modal {
    position: fixed;  /* фиксированнная позиция поверх всего сайта */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* полупрозрачный фоновый цвет */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s;
}

.is-open {
    opacity: 1;
    transform: scale(1);
}

 .modal-dialog {
     position: relative;
     max-width: 1000px;
     min-height: 564px;
     background-color: #fff;
     flex-grow: 1;
     display: flex;
     transform: translateY(-10%);
     transition: transform 0.2s, opacity 0.2s;
     transition-delay: 0.2s;
 }

 .is-open  > .modal-dialog {
     opacity: 1;
     transform: translateY(0);
 }

 .modal-image {
    background: #EBEBEB;
    width: 60%;
    text-align: center;
    padding: 50px;
 }

 .flats path {
     opacity: 0;
     cursor: pointer;
 }

 .flats path:hover {
    opacity: 1;
}

 .modal-title {
    font-family: 'Bebas Neue Cyrillic', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 25px;
 }
 

.modal-info {
    padding: 50px 60px;
    width: 40%;
}

.flat-list {
    padding: 0;
    list-style: none;
    margin-top: 55px;
}

.flat-item {
    margin-bottom: 10px;
}

.flat-link {
    color: #635854;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.flat-link:hover {
    color: #3596F5;
    text-decoration: underline;
}

.modal-alert {
    font-size: 16px;
    line-height: 19px;
    font-style: italic;
    color: #635854;
    margin-top: 56px;
}

.modal-close-button {
    position: absolute;
    right: 27px;
    top: 38px;
    cursor: pointer;
    border: none;
    background-color: #fff;

}

.footer {
    border-top: 4px solid #3596F5;
    background: #D7D7D7;
    padding-top: 62px;
    padding-bottom: 56px;
}

.content {
    max-width: 1280PX;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
}

.footer-contacts {
    font-size: 14px;
    line-height: 16px;
    color: #635854;
}

.contacts-phone {
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #635854;
}

.footer-social {
    display: flex;
    justify-content: space-between;
}

.footer-info {
    display: flex;
    text-align: right;
}

.footer-icon {
 padding-right: 5px;
}

.footer-text {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #635854;
    padding-right: 20px;
}